#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build-arch:
	make wake.db
	WAKE_CAS=1 ./bin/wake build default

override_dh_auto_install-arch:
	WAKE_CAS=1 ./bin/wake install "debian/wake/usr"
	mkdir -p debian/wake/var/cache/wake
